
* {
    margin:0;
    font-family: "Open Sans";
  }
  
  .text-primary{
      color:#fd6e0a;
  }
  section{
      margin-top: 100px;
  }
  
  .btn-primary{
      height: 44px;
      border-radius: 5px;
      color: #ffffff;
      background-color:#fd6e0a ;
      font-weight: 600;
      font-size: 20px;
      border: 0;
      padding:8px 30px;
  }
  
  /* Header and Nav Style */
  .nav-titel{
      font-weight: 600;
      font-size: 40px;
  }
  
  nav{
      display: flex;
      justify-content: space-between;
      padding: 40px 200px;
  }
  nav ul {
      display: flex;
      align-items: center;
  
  }
  
  nav li {
      list-style: none;
      margin-left: 50px;
  }
  
  .header{
      background-color: #FFF8F3 ;
      background-image: url('../images/header_bg.png') , url('../images/developer.png');
      background-repeat: no-repeat;
      background-position: bottom right,left;
      background-size: 580px , 50px;
     
  }
  
  /* bannar styles */
  .bannar{
      display: flex;
      margin: 0 200px;
      align-items: center;
  }
  .bannar-titel{
      font-weight: 600;
      font-size: 40px;
      margin-bottom: 15px;
  }
  .bannar-sub-titel{
      font-weight: 600;
      font-size: 40px;
  }
  .bannar-dec{
      color: #757575;
      margin-bottom: 25px;
  }
  /* Main Section */
  main{
      max-width: 1140px;
      margin: 0 auto;
  }
  /* About Section Start */
  .about{
      text-align: center;
      margin-top: 80px;
      background-color: #fff8f3;
      border-radius: 10px;
      padding: 130px 150px;
  }
  .section-title{
     
      margin-bottom: 30px;
      font-weight: 700;
      font-size: 35px;
      text-align: center;
  }
  .section-dec{
      color: #757575;
      font-size: 18px;
      margin-bottom: 30px;
  }
  
  .about-info-container{
      display: flex;
      justify-content: space-around;
  }
   .about .info-title{
      font-size: 16px;
      color: #757575;
  }
  .info-dec{
      font-weight: 600;
      font-size: 18px;
      color: #757575;
     
  }
  
  
  .skills-container{
      display: flex;
      gap: 24px;
  
  }
  .skils{
      box-shadow: 0px 6px 50px rgba(0,0,0,0.06);
      border-radius: 5px;
      padding: 30px;
  }
  .skill-title{
      font-weight: 600;
      font-size: 20px;
      margin-top: 30px;
      margin-bottom: 20px;
  }
  .skill-dec{
      color: #757575;
  }
  
  
  /* Resume Styles */

  .resume-content{
    display: flex;
    gap: 24px;
  }
.resome .titel{
    color: #474747;
    font-size: 22px;
    color: #474747;
    margin-bottom: 10px;
}
.resome .sub-titel{
    color: #757575;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
}
.resome .description{
    color: #757575;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume-btn{
    margin-top: 40px;
    text-align: center;
}
.contact{
    display: flex;
    gap: 100px;
    background-color:#fff8f3;
    padding: 100px 200px;
}
.contact .section-title{
    text-align: left;
    font-size: 30px;
}

.contact input[type ="text"], input[type="email"],textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
    border-radius: 5px;

}
input{
    
}
.contact a{
    text-decoration: none;
    margin-left: 7px;
}
